.red
{
    background-color: red;
}

.yellow
{
    background-color: yellow;
}

.lightblue
{
    background-color: lightblue;
}

.blue
{
    background-color: blue;
}

.antiquewhite
{
    background-color: antiquewhite;
}

.black
{
    background-color: black;
}

.grey
{
    background-color: grey;
}
