<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Coffee Shop</h1>
      <nav>
        <ul>
          <li><a href="menu.html">Menu</a></li>
          <li><a href="about.html">About us</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Welcome to Coffee Aroma</h2>
        <p>Discover the finest coffee blends at Caffee Aroma</p>
        <a href="menu.html">View menu</a>
      </section>
      <section>
        <h2>About Caffee Aroma</h2>
        <p>
          At Caffee Aroma we take pride in our coffee heritage. Our coffee beans
          are carefully selected
        </p>
      </section>

      <article>
        <h2>History about coffee</h2>
        <p>
          The history of coffee dates back to centuries of old oral tradition in
          modern-day Ethiopia and Yemen. It was already known in Mecca in the
          15th century. Also, in the 15th century, Sufi monasteries in Yemen
          employed coffee as an aid to concentration during prayers.[1] Coffee
          later spread to the Levant in the early 16th century; it caused some
          controversy on whether it was halal in Ottoman and Mamluk society.
          Coffee arrived in Italy the second half of the 16th century through
          commercial Mediterranean trade routes, while Central and Eastern
          Europeans learned of coffee from the Ottomans. By the mid 17th
          century, it had reached India and the East Indies.
        </p>
      </article>
      <section>
        <h2>Our Coffee Selection</h2>
      </section>
    </main>

    <aside>
      <h2>Coffee Drinks</h2>
      <ul>
        <li><a href="">Espresso</a></li>
        <li><a href="">Cappoucino</a></li>
        <li><a href="">Late Macchiato</a></li>
        <li><a href="">Fredo Espresso</a></li>
      </ul>
    </aside>

    <div>
      <h3>Opening hours</h3>
      <ul>
        <li>
          Monday - Friday:
          <span style="color: blue; font-size: large">08:00 - 00:00</span>
        </li>
        <li>Saturday: <span>08:00 - 01:00</span></li>
        <li>Sunday: <span>Not working</span></li>
      </ul>
    </div>

    <footer>
      <h4>2023 Caffee Aroma | All rights reserved &copy;</h4>
      <p>Contact info: infoaddress</p>
      <p>Contact te: 123456789</p>
    </footer>
  </body>
</html>
