h2::before
{
    content: "Web Development";
    background-color: red;
}

h2::after
{
    content: "G3";
    background-color: green;
}

p::first-line
{
    color: blueviolet;
    text-transform: uppercase;
    font-weight: bold;
}

p::first-letter
{
    color: darkmagenta;
    font-size: 40px;
}

.box
{
    background-color: lightgreen;
    width: 150px;
    height: 150px;
    position: relative;
}

.box::after 
{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: green;
    position: absolute;
    right: 0;
    top: 50px;
}